<ion-content style="background-color: white;">
<ion-toolbar>
  <ion-title class="title">Knowledge</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="center">
    <img src="assets/images/knowledgeImg.png" />
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-card style="width: 100%; padding-top: 1em; padding-bottom: 1em;"  routerLink="/video-list">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/knowledgeitem1.png" />
          </ion-avatar>
          <ion-label>
            <h3 class="item-label">Video</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="width: 100%; padding-top: 1em; padding-bottom: 1em;"  routerLink="/medic-list">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/knowledgeitem2.png" />
          </ion-avatar>
          <ion-label>
            <h3 class="item-label">Medication</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="width: 100%; padding-top: 1em; padding-bottom: 1em;">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/knowledgeitem3.png" />
          </ion-avatar>
          <ion-label>
            <h3 class="item-label">Entertainment</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
</ion-content>