<ion-content style="vertical-align: middle; background-color: white;">
  <form>
    <ion-item lines="none"> </ion-item>

    <div class="center">
      <img src="assets/images/SMART.png" style="max-width: 40vw" />
    </div>
<div class="padder-m"></div>
    <ion-item class="roundedInput" lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email" required></ion-input>
    </ion-item>
<br />
    <ion-item class="roundedInput" lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="Password" required></ion-input>
    </ion-item>
<br />
    <ion-item class="roundedInput" lines="none">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" placeholder="Confirm Password" required></ion-input>
    </ion-item>
<div class="padder-xl"></div>
    <ion-row class="center">
      <ion-col>
        <ion-button class="btn" shape="round" routerLink="/home">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

