.title {
  font-weight: 600;
}
.center {
  text-align: center;
}
.btn{
    width: 80vw;
    font-size: 1em;
    font-weight: 600;
}
ion-item {
   border-top: none;
   border-bottom: none;
}
ion-button{
    text-transform: none;
}
.small-text{
    font-size: 1em;
    color: #8f00ff;
    font-weight: 600;
}
.roundedInput {
    width: 80vw;
  --border-radius: 100px;
  --highlight-height: 0;
  --background: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
 }
.padder-xl{
    padding: 2em;
}
.padder-m{
    padding: 1.2em;
}