<ion-content style="background-color: white;">
  <ion-toolbar>
    <ion-title class="title">
      SMART Menu
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content class="ovr-center">
  <div class="center">
    <img src="assets/images/landingImgHomeImg.png"/>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="center" routerLink="/knowledge">
          <ion-card-header class="center">
            <img src="assets/images/Knowledge.png"/>
          </ion-card-header>
        <ion-card-content class="button-title">
          Knowledge
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
         <ion-card class="center" routerLink="/analysis">
          <ion-card-header class="center">
            <img src="assets/images/Lab.png"/>
          </ion-card-header>
        <ion-card-content class="button-title">
          Analysis
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         <ion-card class="center" routerLink="/checklist">
          <ion-card-header class="center">
            <img src="assets/images/Checklist.png"/>
          </ion-card-header>
        <ion-card-content class="button-title">
          Checklist
        </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
         <ion-card class="center" routerLink="/support">
          <ion-card-header class="center">
            <img src="assets/images/Support.png"/>
          </ion-card-header>
        <ion-card-content class="button-title">
          Support
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>