<ion-content style="vertical-align: middle; background-color: white;">
  <form>
    <ion-item lines="none"> </ion-item>

    <div class="center">
      <img src="assets/images/SMART.png" style="max-width: 40vw" />
    </div>
<div class="padder-m"></div>
    <ion-item class="roundedInput" lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email" required></ion-input>
    </ion-item>
<br />
    <ion-item class="roundedInput" lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="Password" required></ion-input>
    </ion-item>
<div class="padder-xl"></div>
    <ion-row class="center">
      <ion-col>
        <!--<ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>-->
        <ion-button class="btn" shape="round" routerLink="/main">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="center">
      <ion-col>
        <ion-button class="btn" shape="round" routerLink="/register">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="center">
      <ion-col>
        <a [routerLink]="['/register']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

